.chat{
    max-width: 300px;    
}
.chat-name,
.chat-textarea,
.chat-content{
    box-sizing: border-box;
    width: 100%;
}
.chat-textarea{
    max-width: 100%;
}
.chat-content{ 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #bbb;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-feedback{
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
    color: red;
}