<div class="useraccount center">
    <h2 class="section-title">Sign Up / Sign In</h2>
    <div [class.errors]="err" class="useraccount-messages">{{err}}</div>
    <form calss="useraccount-form">
            <div class="useraccount-row">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" #email autocomplete="off">  
            </div>
            <div class="useraccount-row">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" #password>        
            </div>
            <div class="useraccount-row">
                <button class="btn-submit" (click)="submit($event, email.value, password.value)">Sign</button>
            </div>
    </form>
</div>