<div class="useraccount center">
    <h2 class="section-title">Sign In</h2>
    <div [class.errors]="err" class="useraccount-messages">{{err}}</div>
    <form calss="useraccount-form">
            <div class="useraccount-row">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" id="email" name="email" #email autocomplete="off" placeholder="Email">
                </mat-form-field>  
            </div>
            <div class="useraccount-row">
                <mat-form-field class="example-full-width">
                    <input matInput type="password" id="password" name="password" #password placeholder="Password">        
                </mat-form-field>  
            </div>
            <div class="useraccount-row">
                <button mat-raised-button
                        color="accent"
                        class="btn-submit"
                        (click)="signIn($event, email.value, password.value)">Sign In</button>
            </div>
    </form>
</div>