.content-row{
    display: flex;
    flex-wrap: nowrap;
}
.content-row .column{
    width: 33%;
}
.rooms-list li{
    cursor: pointer;
}
.btn-delete{
    display: inline-block;
    color: red;
    border: 1px solid red; 
    cursor: pointer; 
}