<div class="content">
  <div class="content-row">
    <div class="column rooms">
        <h3>Rooms</h3>
        <div *ngIf="sharedData.isLogin" class="room-control">
            <input type="text"
                    class="room-newitem"
                    placeholder="Name"
                    #newRoom>
            <button class="room-add" (click)="addRoom(newRoom.value)">add</button>
        </div>
        <ul class="rooms-list">
            <li *ngFor="let item of rooms"
                (click)="selectRoom(item.id)">
                {{item.name}}
                <span *ngIf="sharedData.isLogin"
                      (click)="deleteRoom(item.id)"
                      class="btn-delete">x</span>
            </li>
        </ul>
    </div>
    <div class="column room">
        <div class="todo">
            <h3>Todo list</h3>
            <div *ngIf="sharedData.isLogin && currentRoom" class="todo-control">
                <input type="text"
                        class="todo-newitem"
                        placeholder="Name"
                        #newTask>
                <button class="todo-add" (click)="addTask(newTask.value)">add</button>
            </div>
            <ul *ngIf="currentRoom" class="todo-list">
                <li *ngFor="let item of currentRoom.todo let number = index">
                    {{item}}
                    <span *ngIf="sharedData.isLogin"
                           (click)="deleteTask(number)"
                           class="btn-delete">x</span>
                </li>
            </ul>
        </div>
        <h3>Chat</h3>                
        <app-chat></app-chat>
    </div>
    <div class="column users">
        <h3>Users</h3>
        <ul>
            <li *ngFor="let user of users">{{user.email}}</li>
        </ul>
    </div>
  </div>    
</div>