.content-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.content-row .column{
    width: 32%;
}
.rooms-item{
    cursor: pointer;
}
.todo{
    margin-bottom: 30px;
}
.todo-item,
.rooms-item{
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
}
.mat-toolbar{
    margin-bottom: 15px;
}