.nav{
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bbb; 
}
.nav-list{
    margin: 0;
    list-style: none;    
    text-align: right;
}
.nav-list li{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}